.newstitle {
    height: 50px;
}

.newssummary {
    height: 90px;
}

.newstitleinner {
    font-size: 14px;
    line-height: 20px !important;
    padding-left: 10px;
    padding-top: 10px;
    margin: auto;
}

.newstitleinnerfirst {
    font-size: 18px;
    line-height: 20px !important;
    padding-left: 10px;
    padding-top: 10px;
    margin: auto;
}

.newssummaryinner {
    font-size: 14px;
    line-height: 20px !important;
    padding-left: 10px;
    padding-top: 10px;
    margin: auto;
}

.newssummaryinnerfirst {
    font-size: 16px;
    line-height: 20px !important;
    padding-left: 10px;
    padding-top: 10px;
    margin: auto;
    padding-bottom: 15px;
}

#cookie-modal {
    display: none;
    width: 100%;
    z-index: 99999;
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

#cookie-modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 85%;
    max-width: 480px;
    border-radius: 0px;
}

@media only screen and (min-width: 581px) {
    #cookie-modal .modal-content {
        width: 100%;
    }
}

#cookie-modal .modal-content button a {
    color: #fff;
    text-decoration: none;
}

#cookie-modal .modal-content p {
    text-align: left;
}

#cookie-modal .modal-content button {
    width: 100%;
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin: 10px;
}

#non-nec-state {
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-input:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-input {
    background-color: #2196F3;
}

input:focus+.slider-input {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider-input:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */

.slider-input.round {
    border-radius: 34px;
}

.slider-input.round:before {
    border-radius: 50%;
}

.tagove-livechat-widget {
    position: relative;
    z-index: 9999;
}

.share-title-news {
    margin-top: 0px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
    position: inherit;
    color: #444;
}

.flt-share-bar.menu2 {
    position: initial;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    pading-right: 15px;
    margin-bottom: 10px;
}