/* Cubic Bezier Transition */

.user-login-5 {
    min-height: 100vh;
}

.user-login-5 .bs-reset {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:986px) {
    .slide {
        display: none;
    }
}

.user-login-5 .text-right {
    text-align: right;
}

.user-login-5 .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.user-login-5 .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em;
}

.user-login-5 .login-logo.login-6 {
    top: 80px;
    left: 80px;
}

.user-login-5 .login-container {
    position: relative;
    min-height: 100vh;
}

.user-login-5 .login-container>.login-content,
.user-login-5 .login-container .login-social,
.user-login-5 .login-container .login-copyright {
    padding: 0 50px;
}

.user-login-5 .login-container>.login-content {
    margin-top: 5%;
}

.user-login-5 .login-container>.login-content>h1 {
    font-size: 30px;
    font-weight: 300;
    color: #4e5a64;
}

.user-login-5 .login-container>.login-content p {
    color: #a0a9b4;
    font-size: 15px;
    line-height: 22px;
}

.user-login-5 .login-container>.login-content>.login-form {
    margin-top: 80px;
    color: #a4aab2;
    font-size: 13px;
}

.user-login-5 .login-container>.login-content>.login-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    border-color: #a0a9b4;
    color: #868e97;
    font-size: 14px;
    margin-bottom: 30px;
}

.user-login-5 .login-container>.login-content>.login-form input:focus {
    outline: 0;
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password,
.user-login-5 .login-container>.login-content>.login-form .login-button {
    display: inline-block;
}

.user-login-5 .login-container>.login-content>.login-form .rem-password {
    margin-top: 10px;
}

.user-login-5 .login-container>.login-content>.login-form .rem-password>p {
    margin: 0;
}

.user-login-5 .login-container>.login-content>.login-form .rem-password>.rem-checkbox {
    border-color: #a4aab2;
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password {
    margin-right: 1em;
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a {
    color: #a4aab2;
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a:hover {
    color: #337ab7;
    text-decoration: none;
}

.user-login-5 .login-container>.login-content>.login-form .forgot-password>a:focus {
    color: #a4aab2;
    text-decoration: none;
}

@media screen and (min-height: 580px) {
    .user-login-5 .login-container>.login-footer {
        position: absolute;
    }
}

.user-login-5 .login-container>.login-footer {
    bottom: 0;
    width: 100%;
    background: #ffffff;
    padding-bottom: 10px;
}

.user-login-5 .login-container>.login-footer .login-social {
    padding-right: 0;
}

.user-login-5 .login-container>.login-footer .login-social li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}

.user-login-5 .login-container>.login-footer .login-social a {
    color: #a9b5be;
    font-size: 18px;
}

.user-login-5 .login-container>.login-footer .login-social a:hover {
    color: #337ab7;
    text-decoration: none;
}

.user-login-5 .login-container>.login-footer .login-social a:focus {
    color: #a9b5be;
}

.user-login-5 .login-container>.login-footer .login-copyright {
    padding-left: 0;
    margin-top: 6px;
}

.user-login-5 .login-container>.login-footer .login-copyright>p {
    margin: 0;
    font-size: 11px;
    color: #ffffff;
}

.formBox {
    margin: 30px 0 0 15px;
}

.formBox h5 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 30px 0;
    text-align: center;
}

/**/

.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login_form {
    background: #000000;
    color: #fff;
}

.logo-box {
    padding: 55px 0;
    width: 50%;
    margin: auto;
}

.logo-box img {
    width: 100%;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
    width: 100%;
}

.form--login {
    color: #606468;
}

.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
    /*border-radius: 0.25rem;*/
    padding: 1rem;
}

.form-control {
    height: 36px;
}

/*.form--login label {
    background-color: #eaeaea;
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin: 0;
}*/

.form--login input[type="text"],
.form--login input[type="password"] {
    background-color: #ffffff;
    /*border:1px solid #eaeaea;*/
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.form--login input[type="text"]:focus,
.form--login input[type="text"]:hover,
.form--login input[type="password"]:focus,
.form--login input[type="password"]:hover {
    background-color: #ffffff;
}

.form--login input[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.form--login input[type="submit"]:focus,
.form--login input[type="submit"]:hover {
    background-color: #dc0000;
}

.form__field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
}

.form__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.form__field [class*=" fa-"]:not(.fa-stack),
.form__field [class*=" glyphicon-"],
.form__field [class*=" icon-"],
.form__field [class^=fa-]:not(.fa-stack),
.form__field [class^=glyphicon-],
.form__field [class^=icon-] {
    color: #ff0000;
}

::-webkit-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

:-ms-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.borderline {
    border-top: 1px solid #dddddd;
    padding: 2px;
    margin: 0;
}

.login-title {
    font-weight: 500;
    margin-top: 30px;
}

.login-content p {
    font-weight: 100;
    text-align: center;
}

.login-content p span {
    color: #ff0000;
}

.login-links {
    list-style: square;
    margin-top: 2%;
    /* overflow: hidden; */
    padding: 0;
    /* width: 50%; */
    /* display: block; */
    text-align: center;
}

.login-links li {
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 5%;
    display: inline-block;
}

.login-links li a,
.page-footer-inner p a {
    color: #ff0000;
}

.page-footer-inner p {
    font-size: 10px;
    /*color:#ff0000;*/
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 400;
}

.help-links {
    list-style: square;
    margin-top: 2%;
    /* overflow: hidden; */
    padding: 0;
    /* width: 50%; */
    /* display: block; */
    text-align: center;
}

.help-links li {
    font-size: 10px;
    text-transform: uppercase;
    color: #ff0000;
    margin-right: 5%;
    display: inline-block;
}

.help-links li:last-child {
    padding-right: 0px;
    border-right: 0px solid #ff0000;
}

.help-links li a {
    color: #ff0000;
}

/**/

@media (max-width: 1365px) {
    .user-login-5 .login-logo.login-6 {
        top: 40px;
        left: 40px;
    }
    .user-login-5 .login-container>.login-content,
    .user-login-5 .login-container .login-social,
    .user-login-5 .login-container .login-copyright {
        padding: 0 40px;
    }
    .user-login-5 .login-container .login-social {
        padding-right: 0;
    }
    .user-login-5 .login-container .login-copyright {
        padding-left: 0;
    }
}

@media (max-width: 1023px) {
    .user-login-5 {
        min-height: 50vh;
    }
    .user-login-5 .login-bg {
        min-height: 50vh;
    }
    .user-login-5 .login-logo.login-6 {
        position: relative;
        margin: 0 0 40px 0;
    }
    .user-login-5 .login-container {
        min-height: 50vh;
    }
    .user-login-5 .login-container>.login-content {
        margin-top: 60px;
    }
    .user-login-5 .login-container>.login-content .login-form {
        margin-top: 40px;
    }
    .user-login-5 .login-container .rem-password {
        margin-bottom: 1em;
    }
    .user-login-5 .login-container>.login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0;
    }
    .user-login-5 .login-container>.login-footer .login-social li {
        margin-right: 0.5em;
    }
    .user-login-5 .alert {
        margin-top: -20px;
    }
}

@media (max-width: 640px) {
    .user-login-5 .login-container>.login-content .text-right {
        text-align: left;
    }
}

.form__fields [class*=" fa-"]:not(.fa-stack),
.form__fields [class*=" glyphicon-"],
.form__fields [class*=" icon-"],
.form__fields [class^=fa-]:not(.fa-stack),
.form__fields [class^=glyphicon-],
.form__fields [class^=icon-] {
    color: #ff0000;
}

.btn btn-danger {
    background-color: #ff0000 !important;
}